{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-10">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <b>Water Bottle Details:</b>
                </div>
                
                <div class="card-body">
                    {% if message %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endif %}
                    <form id="add_bottle_form" method="POST">
                        {% csrf_token %}
                        
                        <!-- SKU -->
                         <div class="mb-3">
                            <label for="sku" class="form-label">SKU</label>
                            <input type="text" class="form-control" id="sku" name="sku" placeholder="e.g. 1A1">
                         </div>
                        <!-- Brand -->
                         <div class="mb-3">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="brand" name="brand">
                         </div>
                        <!-- Cost -->
                         <div class="mb-3">
                            <label for="cost" class="form-label">Cost</label>
                            <input type="number" step="0.01" class="form-control" id="cost" name="cost">
                         </div>
                        <!-- Size -->
                         <div class="mb-3">
                            <label for="size" class="form-label">Size</label>
                            <input type="text" class="form-control" id="size" name="size">
                         </div>
                        <!-- Mouth Size -->
                         <div class="mb-3">
                            <label for="mouth_size" class="form-label">Mouth Size</label>
                            <input type="text" class="form-control" id="mouth_size" name="mouth_size">
                         </div>
                        <!-- Color -->
                         <div class="mb-3">
                            <label for="color" class="form-label">Color</label>
                            <input type="text" class="form-control" id="color" name="color">
                         </div>
                        <!-- Supplied By -->
                         <div class="mb-3">
                            <label for="supplied_by" class="form-label">Supplied By</label>
                            <select class="form-select" id="supplied_by" name="supplied_by">
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.pk }}">{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                         </div>
                        <!-- Current Quantity -->
                         <div class="mb-3">
                            <label for="current_quantity" class="form-label">Current Quantity</label>
                            <input type="number" class="form-control" id="current_quantity" name="current_quantity" min="0">
                         </div>
                        
                        <button type="submit" class="btn btn-primary">Add Bottle</button>
                        <a class="btn btn-secondary" href = "{% url 'view_supplier' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}