{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>My Inventory System</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: #590404;">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" href="{% url 'view_bottles' %}">My Inventory System</a>
                <a href="{% url 'add_bottle' %}" style="color:white"><i class="material-icons">add</i></a>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-2 text-start justify-left pt-2">
                    {% block sidemenu %}

                    {% if pk %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_supplier' pk=pk %}">• View Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_bottles' %}">• View Water Bottles</a>
                        </li>
                    </ul>
                    {% endif %}

                    {% endblock %}
                </div>

                <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <footer class="footer bg-custom"
             style="position:sticky; background-color:#590404;">
             <div class="container">&copy; 2020</div>
        </footer>

    </body>
</html>