{% extends 'MyInventoryApp/base.html' %}

{% block content %}
<h2>Water Bottles</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Brand</th>
            <th>Cost</th>
            <th>Size</th>
            <th>Mouth Size</th>
            <th>Color</th>
            <th>Supplier</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>
        {% for bottle in bottles %}
        <tr>
            <td>{{bottle.sku}}</td>
            <td>{{bottle.brand}}</td>
            <td>{{bottle.cost}}</td>
            <td>{{bottle.size}}</td>
            <td>{{bottle.mouth_size}}</td>
            <td>{{bottle.color}}</td>
            <td>{{bottle.supplied_by.name}}</td>
            <td>{{bottle.current_quantity}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No water bottles found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}